@import url('https://fonts.googleapis.com/css?family=Maven+Pro:700,900');

.background-container {
  width: 100%;
  height: 100vh;
  background: url(../img/main-bg.jpeg) no-repeat center;
  background-size: cover;
  margin: 5vh auto;
  text-align: center;
  align-items: center;
  align-content: center;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
  overflow: hidden;
}

.background-container a {
  color: white;
  margin-left: 10vw;
  margin-right: 10vw;
}

.background-container a:hover {
  opacity: .75;
  cursor: pointer;
}

.button-props {
  width: 100%;
  height: auto;
  color: white;
  font-size: 30px;
  margin: auto;
  /*padding-left: 33vw;
  padding-right: 33vw;*/
}

.background-container img {
  visibility: hidden;
}

.main-text-box {
  width: 100%;
  margin-top: 15vh;
  text-align: center;
  color: white;
  font-size: 120px;
  font-weight: 900;
}

.sub-text-box {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 30px;
}

.white-circle {
  width: 65px;
  height: 65px;
  border-radius: 75%;
  background: url(../img/downArrow.svg);
  background-size: 100%;
  background-color: rgb(255, 255, 255);
  background-position: 50% 70%;
  background-repeat: no-repeat;
  margin: 23vh auto;
}

.white-circle:hover {
  box-shadow: 0px 0px 3px 4px rgba(155, 130, 40, .5);
  opacity: .75;
  cursor: pointer;
}

@media (max-width: 645px) {
  .background-container a {
    visibility: hidden;
  }

  .background-container .button-props {
    visibility: hidden;
  }

  .background-container nav {

  }

  .ham-button {
    width: 65px;
    height: 65px;
    left: 0;
    top: 0;
    border-radius: 75%;
    background: url(../img/ham-menu.png);
    background-color: rgba(255, 255, 255, 0);
    background-size: 100%;
    margin-top: -75px;
    margin-left: 40px;
  }

  .background-container img {
    visibility: visible;
    width: 25px;
    margin-right: 5vw;
    margin-top: -45px;
    float: right;
  }

  .background-container img:hover {
    opacity: .75;
    cursor: pointer;
  }

  .ham-button:hover {
    box-shadow: 0px 0px 3px 4px rgba(255, 255, 255, .5);
    opacity: .75;
    cursor: pointer;
  }

  .main-text-box {
    margin-top: 30.25vh;
  }

  .white-circle {
    margin: 22.9vh auto;
  }
}

@media (max-width: 415px) {
  .ham-button {
    width: 65px;
    height: 65px;
    left: 0;
    top: 0;
    border-radius: 75%;
    background: url(../img/ham-menu.png);
    background-color: rgba(255, 255, 255, 0);
    background-size: 100%;
    margin-top: -75px;
    margin-left: 30px;
  }

  .main-text-box {
    margin-top: 28vh;
    font-size: 110px;
  }

  .sub-text-box {
    font-size: 25px;
  }

  .white-circle {
    margin: 22.9vh auto;
  }

}

@media (max-width: 320px) {
  .ham-button {
    width: 50px;
    height: 50px;
    left: 0;
    top: 0;
    border-radius: 75%;
    background: url(../img/ham-menu.png);
    background-color: rgba(255, 255, 255, 0);
    background-size: 100%;
    margin-top: -75px;
    margin-left: 20px;
  }

  .main-text-box {
    margin-top: 27vh;
    font-size: 110px;
  }

  .sub-text-box {
    font-size: 25px;
  }

  .white-circle {
    margin: 20vh auto;
  }


}
